@import 'partials/normalize';
@import 'partials/fonts';
@import 'partials/variables';
@import 'partials/mixins';

body {
  background-color: $bg-primary;
  color: $primary;
  font-family: $font-family;
  font-size: $base-size;
}

a {
  color: $secondary;
  text-decoration: none;
  transition: .1s;
  will-change: colo;

  &:hover {
    color: $primary;
  }
}

.btn {
  background-color: $bg-primary;
  border: 2px solid $light;
  border-radius: 25px;
  cursor: pointer;
  font-size: .777em;
  height: 50px;
  padding: 0 53px 0 33px;
  text-transform: uppercase;
  transition: .1s;
  will-change: background, color;

  &:hover {
    background: none;
    color: $light;
  }

  &--inverted {
    background: none;
    color: $light;

    &:hover {
      background-color: $bg-primary;
      color: $primary;
    }
  }

  &--blue {
    background-color: $secondary;
    border-color: $secondary;
    color: $light;
    padding-right: 33px;

    &:hover {
      color: $secondary;
    }
  }
}

// NAV

.nav {
  @include flex-vcenter;
  @include side-padding;
  color: $light;
  font-size: 0.889em;
  justify-content: space-between;
  padding-bottom: 0;
  padding-top: 40px;
  position: fixed;
  top: 0;
  transition: .2s;
  width: 100%;
  will-change: background, color, padding;
  z-index: 9000;

  &--scroll {
    background-color: $bg-primary;
    box-shadow: 11px 0 35px transparentize($shadow-color, .78);
    color: $primary;
    padding-bottom: 20px;
    padding-top: 20px;

    .nav__logo {
      &--white {
        display: none;
      }

      &--black {
        display: block;
      }
    }
  }
}

.nav__logo {
  display: block;
  width: 90px;

  &--black {
    display: none;
  }
}

.nav__links {
  @include flex-vcenter;
  list-style: none;
}

.nav__link {
  &:not(:first-child) {
    margin-left: 71px;
  }
}

// ROW

.row {
  @include side-padding;
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  padding-bottom: 110px;
  padding-top: 110px;

  &:nth-child(2) {
    padding-top: 216px;
  }

  &:last-child {
    padding-bottom: 220px;
  }
}

.row__header {
  font-size: 2em;
  font-weight: 800;
  margin: 0 0 40px;
}

.row__paragraph {
  line-height: 1.5;
  margin: 40px 0;
}

.row__list-header {
  font-size: 1em;
  font-weight: normal;
  margin: 70px 0 30px;
}

.row__list {
  line-height: 1.5;
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.row__list-item {
  margin: 30px 0;

  &::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 30 21"><path d="M-.015 12.6h22.109L13.73 21h5.913l10.456-10.5L19.646 0h-5.913l8.361 8.4H-.015v4.2z" fill="rgb(0, 182, 220)" fill-rule="evenodd"/></svg>');
    margin-right: 18px;
  }
}

.row__image {
  box-shadow: 11px 11px 35px transparentize($shadow-color, .78);
  display: block;
  height: 100%;
  margin-left: 87px;
  max-width: 50%;
  object-fit: cover;
  position: relative;

  &--left {
    margin-left: 0;
    margin-right: 95px;
  }

  &--container {
    flex-shrink: 0;
  }
}

.row__play {
  background: none;
  border: 0;
  cursor: pointer;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

// HERO

.hero {
  background: url('img/hero.png') center / cover no-repeat;
  color: $light;
  flex-wrap: wrap;
  padding-top: 47vh;
}

.hero__header {
  font-size: 2.222em;
  font-weight: 200;
  line-height: 1.5;
  margin: 0 0 40px;
}

.hero__highlight {
  color: $secondary;
  display: inline-block;
  font-style: normal;
  width: 100%;
}

.hero__btns {
  margin-bottom: 92px;
  width: 100%;
}

.hero__more {
  margin-right: 20px;
}

.hero__arrow {
  background: none;
  border: 0;
  color: $light;
  cursor: pointer;
  padding: 0;

  &:not(:first-child) {
    margin-left: 14px;
  }

  &:hover {
    color: $highlight;
  }
}

.hero__icon {
  transition: .1s;
  will-change: fill;
}

// FORM

.form {
  @include side-padding;
  background-color: $bg-secondary;
  padding-bottom: 50px;
  padding-top: 50px;
}

.form__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 580px;
}

.form__header-container {
  text-align: center;
  width: 100%;
}

.form__header {
  font-size: 1em;
  margin: 0;
}

.form__subheader {
  color: $tertiary;
  font-size: 0.777em;
  margin-bottom: 40px;
}

.input {
  margin-bottom: 20px;
  position: relative;
  width: 100%;

  &--halfwidth {
    width: calc(50% - 17px);
  }

  &--flex {
    display: flex;
  }
}

.input__label {
  color: $tertiary;
  font-size: .777em;
  left: 15px;
  position: absolute;
  top: 16px;
  transition: .2s;
  will-change: top, font-size;

  &--nonabsolute {
    font-size: .533em;
    line-height: 1.5;
    margin-left: 12px;
    position: static;
  }
}

.input__input {
  background-color: $bg-primary;
  border: 0;
  font-family: $font-family;
  font-size: .777em;
  height: 50px;
  padding: 25px 15px 9px;
  transition: .2s;
  width: 100%;
  will-change: box-shadow;

  &--large {
    height: 160px;
  }

  &:focus {
    box-shadow: 0 8px 8px transparentize($shadow-color, .84);

    + .input__label {
      font-size: .611em;
      top: 10px;
    }
  }
}

.form__btn {
  margin: auto;
}

// FOOTER

.footer {
  @include side-padding;
  background-color: $bg-tertiary;
  color: $light;
  display: flex;
  font-size: .777em;
  justify-content: space-between;
  padding-bottom: 70px;
  padding-top: 84px;
  position: relative;
}

.address {
  margin-right: 98px;
}

.address__line {
  &:first-child {
    margin-top: 0;
  }
}

.address__map {
  background-color: $bg-primary;
  border-radius: 50%;
  height: 200px;
  margin-top: 50px;
  width: 200px;
}

.footer__links {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    justify-content: flex-start;
  }
}

.footer__group {
  margin-bottom: 40px;

  &:not(:nth-child(5)) {
    margin-right: 40px;
  }
}

.group__header {
  font-size: 1em;
  font-weight: normal;
  margin: 0 0 24px;
}

.group__links {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.group__link {
  margin: 20px 0;
}

.footer__credits {
  align-self: flex-end;
  margin-bottom: 40px;
  padding-right: 20px;
  text-align: right;
  width: 100%;
}
